.Contact {
    .wrapper {
        margin-top: 1rem;
        h1 {
            font-size: 6rem;
            color: #00ffd9;
        }
    }
}

.pageContact {
    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .info {
        display: flex;
        align-items: center;
        margin: auto;
        padding: 40px auto;

        img {
            width: 50px;
            height: 50px;
        }
        a,
        p {
            margin-left: 1rem;
            font-size: 32px;
        }
        a {
            color: #00ffd9;
            text-decoration: underline;
        }
        .image {
            min-height: 100%;
            min-width: 100%;
            width: 40vh;
        }
    }

    form {
        font-family: var(--font-primary);
        font-size: 32px;
        display: flex;
        flex-direction: column;
    }
    textarea,
    input {
        border: #00ffd9 2px solid;
        background-color: #163544;
        color: #00ffd9;
        max-width: 100%;
        width: auto;
        margin-top: 0.5rem;
        width: 100%;
    }
    textarea {
        font-size: 24px;
    }

    .Reseaux {
        display: flex;
        justify-content: space-between;
        list-style: none;
        text-decoration: none;
        margin-top: 10rem;
    }
    .boutonEnvoyer {
        align-self: center;

        transition: all 0.3s ease-in-out;
        box-shadow: inset 0 0 0 0 #00ffd9;
    }
    .boutonEnvoyer:hover {
        box-shadow: inset 0 -100px 0 0 #00ffd9;
        color: white;
    }
    .apresEnvoyer {
        display: none;
    }
    .boutonEnvoyer:focus {
        form {
            display: none;
        }
        .apresEnvoyer {
            display: block;
        }
    }
}
@media screen and(max-width:1600px) {
    .pageContact {
        .information {
            display: flex;
            justify-content: space-around;
            .Reseaux {
                margin: auto;
            }
        }
        .wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        .colonne {
            margin-top: 1rem;
            margin-bottom: 1rem;
            .image {
                width: 500px;
                height: 500px;
            }
        }
    }
}
@media screen and(max-width:890px) {
    .pageContact {
        .information {
            display: block;
        }
        .colonne {
            .image {
                width: 100%;
                height: 100%;
            }
        }
    }
}
@media screen and(max-width:890px) {
    .Contact {
        .wrapper {
            h1 {
                font-size: 5rem;
            }
        }
    }
}
@media screen and(max-width:635px) {
    .Contact {
        .wrapper {
            h1 {
                font-size: 3rem;
            }
        }
    }
}
@media screen and(max-width:490px) {
    .Contact {
        .wrapper {
            h1 {
                font-size: 3rem;
            }
        }
        .info {
            img {
                width: 35px;
                height: 35px;
            }
            p {
                font-size: 24px;
            }
            a {
                font-size: 24px;
            }
        }
    }
}
