{% include '_partials/_header.html' with { title: 'projet: Synthwave' } %}
<section class="projet">
    <div class="wrapper">
        <div class="bloc blocHero">
            <h1>Recette en pot</h1>
            <iframe
                width="1280"
                height="720"
                src="https://www.youtube.com/embed/VdLxbZ7ysK8"
                title="synthwave touchdesigner project"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>

        <div class="bloc blocLogiciel">
            <h2>Logiciels et languages utilisés</h2>
            <div class="logicielsProjets">
                <div class="logicielProjets">
                    <img src="assets/icons/unity.svg" alt="html" />
                    <p>unity</p>
                </div>
            </div>
        </div>
        <div class="bloc blocImage">
            <h3 class="sousTProjet">Résumé</h3>
            <img src="assets/images/touchResume.png" alt="" />
            <p>
                L'objectif du <span class="important">projet</span> était de faire un jeu en 3D. Donc, savoir comment
                gérer la <span class="important">caméra</span>, le <span class="important">click de souris</span>, le
                <span class="important">son</span> et l'<span class="important">ambiance 3d</span>.
            </p>
        </div>
        <div class="bloc blocImageV">
            <h3 class="sousTProjet">Le début</h3>
            <div class="groupeImage">
                <img src="assets/images/touchBasses.png" alt="" />
                <img src="assets/images/touchMedium.png" alt="" />
                <img src="assets/images/touchAigus.png" alt="" />
            </div>
            <p>
                Dans un autre cours, nous avions dû faire un <span class="important">modèle 3D</span> d'un auto garford
                pour l'implémenter dans notre jeu. Après, nous avions dû <span class="important">coder</span> des robots
                à détruire qui nous permettrons d'accéder à une <span class="important">manivelle</span> et une fois la
                manivelle d'enclencher, d'aller au <span class="important">niveau suivant</span>.
            </p>
        </div>
        <div class="bloc blocImage">
            <h3 class="sousTProjet">Deuxième niveau</h3>
            <img src="assets/images/Audition.png" alt="" />
            <p>
                Au deuxième niveau, nous devons trouver des <span class="important">lampes torches</span> pour
                <span class="important">gagner</span>. Donc nous avions commencer par coder comment allait être le but
                du niveau donc l'objectif de click sur les lampes torches.
            </p>
        </div>
        <div class="bloc blocImageV">
            <h3 class="sousTProjet">L'ambiance</h3>
            <div class="groupeImage">
                <img src="assets/images/touchVisuel1.png" alt="" />
                <img src="assets/images/touchVisuel2.png" alt="" />
                <img src="assets/images/touchVisuel3.png" alt="" />
            </div>
            <p>
                Ensuite, nous avions crée tout ce qui touche à l' <span class="important">ambiance</span> du jeu donc,
                j'ai mis un <span class="important">brouillard</span>, car je voulais que mon jeu soit dans une ambiance
                glauque. J'ai ensuite mis une radio qui faisait le <span class="important">bruit</span> de neige
                (l'équivalent pour la télé) pour améliorer l'effet éppeurant.Pour finir, j'ai ajouté un effet à la
                <span class="important">lumière</span> du feu pour qu'il puisse être plus
                <span class="important">réaliste</span>.
            </p>
        </div>
        <div class="bloc blocImage">
            <h3 class="sousTProjet">l'interface</h3>
            <img src="assets/images/assemblage.png" alt="" />
            <p>
                Finalement, une fois tout le jeu en soit fini, il me reste juste à créer l'<span class="important"
                    >interface</span
                >. Donc j'ai créer un <span class="important">timer</span> pour rendre le niveau plus dur.Ensuite j'ai
                mis un <span class="important">compteur</span> pour savoir combien de
                <span class="important">lampes torches</span> il reste à <span class="important">trouver</span>.
            </p>
        </div>
    </div>
</section>
<canvas class="canvas canvasProjet"></canvas>
{% include '_partials/_footer.html' %}
