{% include '_partials/_header.html' with { title: 'accueil' } %}

<section class="projets">
    <div class="wrapper" data-component="Scrolly">
        <h1>Mes projets</h1>

        <div class="cards" data-scrolly="fromBot">
            <img src="assets/images/synthwave.png" alt="" />
            <div class="content cardsDroite">
                <h2>Synthwave vibe</h2>
                <h3>projet scolaire/Vidéo</h3>
                <p>
                    l’objectif du projet était defaire une vidéo qui interagissaitavec de la musique, j’ai assemblé des
                    sons pour former la musique et j’ai travaillé sur le visuel.
                </p>
                <div class="logiciels">
                    <img src="assets/icons/touchdesigner.svg" alt="Touchdesigner" />
                    <img src="assets/icons/audition.svg" alt="Audition" />
                </div>
                <a href="synthwave.html" class="button">voir le projet</a>
            </div>
        </div>
        <div class="cards" data-scrolly="fromBot">
            <div class="content cardsGauche">
                <h2>Recette en pot</h2>
                <h3>projet scolaire/ HTML, CSS, JAVASCRIPT</h3>
                <p>
                    l’objectif du projet était de refaire le design du site ainsi de le mettre en application en faisant
                    le site.
                </p>
                <div class="logiciels">
                    <img src="assets/icons/html.svg" alt="html5" />
                    <img src="assets/icons/css.svg" alt="css3" />
                    <img src="assets/icons/javascript.svg" alt="JavaScript" />
                </div>
                <a href="recetteEnPot.html" class="button">voir le projet</a>
            </div>
            <img src="assets/images/recetteenpot.png" alt="Recette en pot" />
        </div>
        <div class="cards" data-scrolly="fromBot">
            <img src="assets/images/timsport.png" alt="" />
            <div class="content cardsDroite">
                <h2>Tim Sport</h2>
                <h3>projet scolaire/ HTML, CSS, JAVASCRIPT</h3>
                <p>l’objectif du projet était decréer un site web responsive et qui à des animations.</p>
                <div class="logiciels">
                    <img src="assets/icons/html.svg" alt="html5" />
                    <img src="assets/icons/css.svg" alt="css3" />
                    <img src="assets/icons/javascript.svg" alt="JavaScript" />
                </div>
                <a href="timSport.html" class="button">voir le projet</a>
            </div>
        </div>
        <div class="cards" data-scrolly="fromBot">
            <div class="content cardsGauche">
                <h2>Jeu 3D</h2>
                <h3>projet scolaire/ Unity, C#</h3>
                <p>
                    l’objectif du projet était de faire un jeu en 3D pour apprendre comment fonctionne les jeux 3D et
                    ainsi voir les différence avec les jeux 2D.
                </p>
                <div class="logiciels">
                    <img src="assets/icons/unity.svg" alt="unity" class="unity" />
                </div>
                <a href="#" class="button">voir le projet</a>
            </div>
            <img src="assets/images/recetteenpot.png" alt="Recette en pot" />
        </div>
    </div>
</section>
<canvas class="canvas canvasProjet"></canvas>
{% include '_partials/_footer.html' %}
