{% include '_partials/_header.html' with { title: 'projet: Synthwave' } %}
<section class="projet">
    <div class="wrapper">
        <div class="bloc blocHero">
            <h1>Recette en pot</h1>
            <iframe
                width="1280"
                height="720"
                src="https://www.youtube.com/embed/VdLxbZ7ysK8"
                title="synthwave touchdesigner project"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
            <a href="https://krondeauboisvert.dectim.ca/cours/cw4/tp03/" class="lien">voir le site</a>
        </div>

        <div class="bloc blocLogiciel">
            <h2>Logiciels et languages utilisés</h2>
            <div class="logicielsProjets">
                <div class="logicielProjets">
                    <img src="assets/icons/html.svg" alt="html" />
                    <p>HTML</p>
                </div>
                <div class="logicielProjets">
                    <img src="assets/icons/css.svg" alt="css" />
                    <p>CSS</p>
                </div>
                <div class="logicielProjets">
                    <img src="assets/icons/javascript.svg" alt="javascript" />
                    <p>Javascript</p>
                </div>
            </div>
        </div>
        <div class="bloc blocImage">
            <h3 class="sousTProjet">Résumé</h3>
            <img src="assets/images/touchResume.png" alt="" />
            <p>
                L'objectif du <span class="important">projet</span> était de
                <span class="important">redesigner</span> le site web de Recette en pot déjà existant et d'ensuite faire
                le <span class="important">HTML</span>,<span class="important">CSS</span> et
                <span class="important">javascript</span>. Puis, nous avions appris à utiliser les balises
                <span class="important">forms</span>.
            </p>
        </div>
        <div class="bloc blocImageV">
            <h3 class="sousTProjet">Le début</h3>
            <div class="groupeImage">
                <img src="assets/images/touchBasses.png" alt="" />
                <img src="assets/images/touchMedium.png" alt="" />
                <img src="assets/images/touchAigus.png" alt="" />
            </div>
            <p>
                Dans un <span class="important">autre cours</span> nous avions fait le
                <span class="important">design</span> du site web que nous allions commencer. En classe nous avons
                commencer à faire le <span class="important">html</span> de la page d'<span class="important"
                    >accueil</span
                >.
            </p>
        </div>
        <div class="bloc blocImage">
            <h3 class="sousTProjet">Le CSS</h3>
            <img src="assets/images/Audition.png" alt="" />
            <p>
                Une fois le <span class="important">html</span> de la page d'accueil
                <span class="important">terminé</span>, j'ai fait le <span class="important">css</span> de la page
                d'accueil et ensuite j'ai commencer à faire le <span class="important">html</span> de la page
                <span class="important">"Créer une campagne"</span>.
            </p>
        </div>
        <div class="bloc blocImageV">
            <h3 class="sousTProjet">Page Créer</h3>
            <div class="groupeImage">
                <img src="assets/images/touchVisuel1.png" alt="" />
                <img src="assets/images/touchVisuel2.png" alt="" />
                <img src="assets/images/touchVisuel3.png" alt="" />
            </div>
            <p>
                Ensuite, dans la page créer une campagne, j'ai créer un <span class="important">formulaire</span> et
                j'ai fais le css de cette page. On a appris à savoir comment <span class="important">modifier</span> le
                "setup" de base que le html met de base pour avoir un
                <span class="important">formulaire personnalisé</span>.
            </p>
        </div>
        <div class="bloc blocImage">
            <h3 class="sousTProjet">JavaScript</h3>
            <img src="assets/images/assemblage.png" alt="" />
            <p>
                Finalement, une fois tout le html et css de fini, j'ai fait le
                <span class="important">javascript</span> du site qui consistait à faire un
                <span class="important">scrolly telling</span>, un <span class="important">curseur</span> et modifier
                l'<span class="important">interface</span> des <span class="important">vidéos</span> youtube.Pour
                conclure, j'ai fait le <span class="important">responsive</span>.
            </p>
        </div>
    </div>
</section>
<canvas class="canvas canvasProjet"></canvas>
{% include '_partials/_footer.html' %}
