{% include '_partials/_header.html' with { title: 'projet: Synthwave' } %}
<section class="projet">
    <div class="wrapper">
        <div class="bloc blocHero">
            <h1>Synthwave vibe</h1>
            <div class="video">
                <iframe
                    width="100%"
                    height="100%"
                    class="videoProjet"
                    src="https://www.youtube.com/embed/VdLxbZ7ysK8"
                    title="synthwave touchdesigner project"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </div>
        </div>

        <div class="bloc blocLogiciel">
            <h2>Logiciels et languages utilisés</h2>
            <div class="logicielsProjets">
                <div class="logicielProjets">
                    <img src="assets/icons/touchdesigner.svg" alt="touchdesigner" />
                    <p>Touch designer</p>
                </div>
                <div class="logicielProjets">
                    <img src="assets/icons/audition.svg" alt="touchdesigner" />
                    <p>Adobe Audition</p>
                </div>
            </div>
        </div>
        <div class="bloc blocImage">
            <h3 class="sousTProjet">Résumé</h3>
            <img src="assets/images/touchResume.png" alt="" />
            <p>
                L'objectif du <span class="important">projet</span> était de faire une
                <span class="important">vidéo</span> qui <span class="important">interagissait</span> avec de la
                <span class="important">musique</span>, j'ai assemblé des sons pour former la musique et j'ai travaillé
                sur le visuel.
            </p>
        </div>
        <div class="bloc blocImageV">
            <h3 class="sousTProjet">Le début</h3>
            <div class="groupeImage">
                <img src="assets/images/touchBasses.png" alt="" />
                <img src="assets/images/touchMedium.png" alt="" />
                <img src="assets/images/touchAigus.png" alt="" />
            </div>
            <p>
                On a commencé en <span class="important">classe</span> à programmer les écouteurs de basses, médiums et
                les aigus qui vont nous servir pour l’<span class="important">interactivité</span>.
            </p>
        </div>
        <div class="bloc blocImage">
            <h3 class="sousTProjet">La musique</h3>
            <img src="assets/images/Audition.png" alt="" />
            <p>
                Après, nous avions dû créer une <span class="important">musique</span> propre à nous, donc j’ai pris des
                <span class="important">sons</span> sur <span class="important">freesound</span> et je les ai
                <span class="important">mixés</span> pour donner une musique dont je suis fier.
            </p>
        </div>
        <div class="bloc blocImageV">
            <h3 class="sousTProjet">Le visuel</h3>
            <div class="groupeImage">
                <img src="assets/images/touchVisuel1.png" alt="" />
                <img src="assets/images/touchVisuel2.png" alt="" />
                <img src="assets/images/touchVisuel3.png" alt="" />
            </div>
            <p>
                Ensuite j’ai suivi une <span class="important">vidéo</span> qui m’a aidé a mettre en place le visuel,
                pour ensuite que j’ajoute ma <span class="important">touche personnel</span> tels que les
                <span class="important">couleurs</span>, sur quoi <span class="important">j’interagis</span> et ce qui
                peut aider à faire une meilleur effet d’avancement.
            </p>
        </div>
        <div class="bloc blocImage">
            <h3 class="sousTProjet">Assemblage</h3>
            <img src="assets/images/assemblage.png" alt="" />
            <p>
                Finalement, une fois la <span class="important">musique</span> terminé, avoir finis mon visuel et
                <span class="important">l’interaction</span>, je les ai <span class="important">assemblés</span> (bien
                évidemment j’ai corrigés des <span class="important">défauts</span>) et c’est fini.
            </p>
        </div>
    </div>
</section>
<canvas class="canvas canvasProjet"></canvas>
{% include '_partials/_footer.html' %}
